body {
    background-image: url('panter.jpg');
    background-repeat: repeat-y;
    background-size: 100% auto; 
}
h1 {
    color: white;
    font-size: 300%;
    margin: 10px;
    text-decoration: none;
}
h2 {
    color: white;
    font-size: 200%;
    margin: 0px;
    text-decoration: none;
}
p {
    color:white;
    font-family: arial;
    font-size: 100%;
    line-height: 20px;
    width: 400px;
}
a {
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    text-decoration: none;
    padding-left: 10px; 
    padding-right: 10px;
    line-height: 30px;
    font-size: 120%;
    
}
a:hover {
    color: black;
    background-color: white;
}
th, td {
    border: 2px solid white;
    color: white;
    border-collapse: none;
    border-radius: 10px;
    padding: 5px;
}
span {
    display: block;
    height: 10px;
}
hr {
    width: 500px;
    float: left;
}